// базовые подключения
@import "fonts";
@import "vars";
@import "./helpers/grid-bootstrap";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	position: relative;
	flex: 1;
	min-width: 375px;
	overflow: hidden;
}

@media (max-width: 1379.98px) {
	.main {
		padding-top: 16px;
	}
}

.become-auth-banner {
	position: relative;
	min-width: 100%;
	padding: 12px 25% 12px 16px;
	border: 1px solid var(--green-color);
	border-radius: 4px;
	box-shadow: 0 4px 12px rgba(113, 207, 113, 0.16);
	background-color: var(--white-color);
	font-size: 12px;
	line-height: 17px;
	text-align: left;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url("../img/discount-green.svg#discount-green") no-repeat center right/contain;
	}
}
@media (min-width: 992px) {
	.become-auth-banner {}
}
@media (max-width: 991.98px) {
	.become-auth-banner {}
}

.fancybox {
	&__html5video {
		outline: none;
	}
}

.search-results-title {
	font-weight: 400;
}

@media (max-width: 991.98px) {
	.amp-section {
		margin: 0 -16px;
		border-bottom: 8px solid var(--gray5-color);

		&-container {
			padding: 0 16px 16px;
		}
	}
}

.extra-search {
	display: flex;
	align-items: flex-start;

	&__title {
		white-space: nowrap;
	}
	&__tag-bar {
		.btn {
			font-weight: 400;
			font-size: 13px;
			letter-spacing: 0;
			text-transform: unset;
		}
	}
}
@media (min-width: 992px) {
	.extra-search {
		gap: 12px;
		padding-bottom: 24px;

		&__title {
			display: flex;
			align-items: center;
			min-height: 32px;
		}
		&__tag-bar {
			margin-right: 0;
			margin-left: 0;
		}
	}
}
@media (max-width: 991.98px) {
	.extra-search {
		flex-direction: column;
		gap: 8px;
		padding-bottom: 16px;

		&__tag-bar {

		}
	}
}

.catalog {
	&.inner-catalog {

	}


}